PORT=5000
MONGODB_URI=mongodb://localhost:27017/acquedotto-zuel
MONGODB_DB=acquedotto-zuel
MONGODB_SERVER_SELECTION_TIMEOUT_MS=10000
MONGODB_SOCKET_TIMEOUT_MS=45000
MONGODB_MAX_POOL_SIZE=10
MONGODB_TLS=
MONGODB_TLS_ALLOW_INVALID_CERTIFICATES=false
MONGODB_DIRECT_CONNECTION=
JWT_SECRET=change-me
CLIENT_ORIGINS=http://localhost:3000,http://localhost:3001
TRUST_PROXY=false
REQUEST_BODY_LIMIT=10mb
ATTACHMENT_MAX_BYTES=6291456
INVOICE_DUE_DAYS=30
INVOICE_COMPANY_NAME=COOPERATIVA DI GESTIONE ACQUEDOTTO ZUEL DI SOPRA
INVOICE_COMPANY_FOOTER=COOPERATIVA DI GESTIONE ACQUEDOTTO - Pian de Lago, 64 32043 CORTINA D AMPEZZO (BL) - C.F./P.I. 00296800253 - R.E.A. Belluno 65393
INVOICE_COMPANY_WEBSITE=www.acquedottozuel.it
INVOICE_COMPANY_EMAIL=acquedottozuel@gmail.com
INVOICE_PHONE_DIRECT=0436 867504
INVOICE_BANK_NAME=CORTINA BANCA Credito cooperativo Italiano
INVOICE_IBAN=IT11M 08511 61070 0000 0000 6953
FASTTOOLS_EMAIL=
FASTTOOLS_PASSWORD=
FASTTOOLS_SESSION_COOKIE=
FASTTOOLS_BASE_URL=https://zuel.fast.tools
FASTTOOLS_TIMEOUT_SECONDS=30
IMPORT_RESET_DB=false
IMPORT_HEADLESS=false
IMPORT_STEPS=listini,articoli,clienti,edifici,scadenze,fatture
IMPORT_LISTINI_WORKERS=10
IMPORT_CLIENTI_WORKERS=50
IMPORT_EDIFICI_WORKERS=50
IMPORT_FATTURE_WORKERS=40
IMPORT_SCADENZE_MAX_PAGES=28
LOCAL_MONGODB_URI=mongodb://localhost:27017/acquedotto-zuel
LOCAL_MONGODB_DB=acquedotto-zuel
REMOTE_MONGODB_URI=
REMOTE_MONGODB_DB=acquedotto-zuel
SYNC_DIRECTION=pull
SYNC_COLLECTIONS=articoli,clienti,contatori,edifici,fasce,fatture,letture,listini,scadenze,servizi,note_attachments
SYNC_BATCH_SIZE=500
SYNC_DELETE_MISSING=false
SYNC_INCLUDE_USERS=false
SYNC_DRY_RUN=false
