.user-list-container {
    width: 80%; /* Larghezza del 80% della pagina */
    max-width: 1200px; /* Massima larghezza consentita */
    margin: 20px auto; /* Margini esterni con auto per centrare */
    padding: 20px;
    border: 1px solid #ccc; /* Bordo sottile */
    border-radius: 8px;
    background-color: #f8f9fa; /* Colore di sfondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Effetto ombra */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-map {
    height: 400px; /* Altezza della mappa */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.user-table-container {
    max-height: 500px; /* Altezza massima per la tabella */
    overflow-y: auto; /* Barra di scorrimento verticale */
    border: 1px solid #ccc; /* Bordo per la tabella */
    border-radius: 8px;
    background-color: #fff; /* Colore di sfondo della tabella */
}

.user-table {
    width: 100%;
    border-collapse: collapse; /* Unire i bordi delle celle */
}

.user-table th,
.user-table td {
    border: 1px solid #ddd; /* Bordo delle celle */
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2; /* Colore di sfondo per l'intestazione */
    font-weight: bold;
}

.user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Colore di sfondo per le righe pari */
}

.user-table tbody tr:hover {
    background-color: #e9ecef; /* Colore di sfondo al passaggio del mouse */
}

.delete-button,
.view-file-button {
    margin-right: 5px; /* Spazio tra i pulsanti */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    outline: none; /* Rimuovere il bordo blu su focus */
}

.delete-button {
    background-color: #dc3545; /* Rosso per il pulsante Cancella */
    color: white;
}

.view-file-button {
    background-color: #007bff; /* Blu per il pulsante Visualizza File */
    color: white;
}

.view-file-button:hover {
    background-color: #0056b3; /* Cambia colore al passaggio del mouse */
}

.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo scuro semi-trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Effetto ombra */
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.highlight {
    background-color: #ffd700 !important; /* Colore giallo per l'evidenziazione */
}
